<h1>Dispatch your Robot to fetch data</h1>
<%= form_tag dispatch_robot_path do %>
  <%= text_field_tag :visit, nil, placeholder: "Visit" %><br>
  <%= link_to "Add form action", "#", class: "form_action" %> | 
  <%= link_to "Add click action", "#", class: "click_action" %><br>
  <div class="fill_form">
  </div>
  <div class="click_on">
  </div>
  <%= text_field_tag :yank, nil, placeholder: "Yank" %><br>
  <%= submit_tag :fetch %>
<% end -%>
<hr>
<% if @results -%>
  <h2>Results</h2>
  <%= @results -%>
<% end -%>
