<h1>Dispatch your Robot to fetch data</h1>
<%= form_tag dispatch_robot_path do %>
  <%= text_field_tag :visit, nil, placeholder: "Visit" %><br>
  <%= text_field_tag :click, nil, placeholder: "Click on" %><br>
  <%= text_field_tag :field_name, nil, placeholder: "Field Name" %>
  <%= text_field_tag :field_content, nil, placeholder: "Content" %><br>
  <%= text_field_tag :yank, nil, placeholder: "Fetch Data" %><br>
  <%= submit_tag :dispatch %>
<% end -%>
<hr>
<% if @results -%>
  <h2>Results</h2>
  <%= @results -%>
<% end -%>
